<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Documentos Electronicos</ui:define>

	<ui:define name="content">
		<p:panel header="Filtro de busqueda" styleClass="margin8">
			<h:form id="formParametrosBusqueda">

				<p:outputLabel value="Mes" styleClass="DispBlock" />
				<p:selectOneMenu id="mes" value="#{documentosRecibidosBean.mes}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{documentosRecibidosBean.listaMes}"
						var="mes" itemValue="#{mes}" itemLabel="#{mes.nombre}" />
				</p:selectOneMenu>

				<p:outputLabel value="Año" styleClass="DispBlock" />
				<p:selectOneMenu id="anio" value="#{documentosRecibidosBean.anio}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{documentosRecibidosBean.listaAnio}"
						var="anio" itemValue="#{anio}" itemLabel="#{anio.id}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton id="buscar" update=":formTablaDocumentos"
					value="Buscar" actionListener="#{documentosRecibidosBean.obtener}"
					icon="fa fa-search white" />
				<div class="EmptyBox10"></div>
			</h:form>

			<h:form id="formTablaDocumentos">
				<p:dataTable id="tablaDocumentos" var="documento" scrollable="true"
					reflow="true"
					value="#{documentosRecibidosBean.listaDocumentosAutorizados}"
					paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="No hay Información Disponible">

					<p:column headerText="Gestionar">

						<p:tooltip for="btnXML" value="Descargar XML" />
						<p:commandButton id="btnXML" ajax="false"
							action="#{documentosRecibidosBean.descargarXML(documento)}"
							icon="fa fa-file-code-o">
							<p:fileDownload value="#{documentosRecibidosBean.documento}" />
						</p:commandButton>

						<p:tooltip for="btnRide" value="Descargar RIDE" />
						<p:commandButton id="btnRide" ajax="false"
							action="#{documentosRecibidosBean.descargarRIDE(documento)}"
							icon="fa fa-file-pdf-o">
							<p:fileDownload value="#{documentosRecibidosBean.documento}" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Nombre" filterBy="#{documento}"
						filterMatchMode="contains" styleClass="centrar">
						<p:outputLabel value="#{documento.nombreDocumento}" />
					</p:column>

					<p:column headerText="Tipo" filterBy="#{documento.tipoDocumento}"
						filterMatchMode="contains" styleClass="centrar">
						<p:outputLabel value=" #{documento.tipoDocumento}" />
					</p:column>

				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>