<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<div id="layout-topbar" class="ShadowGray">
		<div id="layout-topbar-indent">
			<a href="/views/documentosRecibidos.jsf"><h:graphicImage
					name="images/LOGO.svg" styleClass="Fleft" library="spark-layout"
					id="logo" class="Fleft" /></a> <a href="#"
				id="mobile-menu-button-gray" class="BordRad3 white ShowOnMobile"><i
				class="fa fa-caret-down"></i> Menú</a>

			<ul id="layout-topbar-menu">
				<li><a href="/logout.jsf" class="Animated05"><i
						class="fa fa-sign-out"></i> Salir</a></li>
			</ul>
		</div>
	</div>

</ui:composition>
